.MuiTableRow-root {
  z-index: 0 !important;
}
.css-rqglhn-MuiTable-root {
  display: table;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}
.MuiTableCell-root {
  width: 20px;
}

.children_table {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  height: 100%;
  border-radius: 18px;
}

.table_header {
  color: white;
  display: flex;
  align-items: center;
  width: 97%;
  height: 55px;
  padding: 0 24px;
  margin-bottom: 1px;
  border-radius: 18px 18px 0 0;
  border-right: solid 2px;
  border-right-color: #ffffff;
  background: #3a80ba;
}

.table_cell {
  text-align: left;
  width: auto !important;
  color: var(--black100-color) !important;
  font-family: "Noto Sans KR", sans-serif !important;
}

.table_th {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  position: relative;

  &:active {
    opacity: 0.5;
  }
}

.table_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  background: var(--black100-color);
  border-radius: 0 0 18px 18px;

  & > nav {
    & > ul {
      & li button[aria-current="true"] {
        color: var(--black100-color);
        background: var(--blue600-color);

        &:hover {
          background: var(--footer-color);
        }
      }
    }
  }
}
