.header {
  background: #3a80ba;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 72px;

  h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    padding-left: 80px;
    color: #ffffff;
  }
}

@media (max-width: 640px) {
  .header {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 0%;

    .header_interaction {
      margin: 0 auto;

      .consult_btn {
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 420px) {
  .therapist_btn,
  .consult_btn {
    text-align: center;
  }
}
